# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# MongoDB Settings
MONGODB_NAME=coding_exam_db
MONGODB_HOST=mongodb+srv://shyaamsundar2310422_db_user:IFP123$$@cluster0.8jdoj1f.mongodb.net/
MONGODB_USERNAME=shyaamsundar2310422_db_user
MONGODB_PASSWORD=IFP123$$
MONGODB_AUTH_SOURCE=admin
MONGODB_AUTH_MECHANISM=SCRAM-SHA-1

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000 